@use "../../assets/sass/_variables.scss" as *;

.task-card{
    margin: 1rem 0;
    height: 3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 0.125rem solid $colour-black;
    border-radius: 0.35rem;

    &__success-click{
        width: 90%;
        display: flex;
    }

    &__checkbox{
        margin: 0 0.75rem;
    }

    &__text{
        text-align: left;
    }

    &__bin{
        margin: 0 1rem;
        height: 40%;
    }
}