@use "../../assets/sass/_variables.scss" as *;

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title{
        font-weight: 700;
    }

    &__reset{
        padding: 0.5rem;

        background-color: none;
        border: 0.125rem solid $colour-black;
        border-radius: 0.5rem;

        font-size: 0.9rem;
        font-weight: bold;
    }
}
